REACT_APP_API_URL=http://localhost:5000 || Your_URL
REACT_APP_RESUME_LINK=YOUR_RESUME_LINK
REACT_APP_CERT_LINK_1=YOUR_GAME_DEV_CERT_LINK
REACT_APP_CERT_LINK_2=YOUR_AI_CERT_LINK
REACT_APP_HACKATHON_LINK_1=YOUR_HACKATHON_CERT_LINK
REACT_APP_CP_LINK_1=https://leetcode.com/u/varunjoshi84/
REACT_APP_CP_LINK_2=https://www.hackerrank.com/profile/varunjoshi84